.main-contaianer {
    background-color: #D04848;
    height: 100%;
    width: 100%;
}

.box-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FDE767;

}

.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    background-color: gray;
    border-style: dashed;
    border-width: 2%;
}

.cell-one {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.cell-two {
    text-align: right;
}

.intro {
    background-color: #E493B3;

}

.image {
    border-radius: 50px;
    border-color: black;
    height: 2%;
    width: 2%;
}
.main-ele{
    display: grid;
    background-color: aqua;
    grid-template-columns:1fr 1fr 1fr;

   
    height: 45vw;
    width: 100vw;
}
.frist-ele{
    background-color:#B7C9F2;
    text-align: center;
    font-size: xx-large;
    color: #FDE767;
   
    height: 90%;
    width: 90% ;
}
.sec-ele{
    background-color:#B7C9F2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    font-size: xx-large;
    color: #FDE767;
    height: 90%;
    width: 90%;
}
.third-ele{
    background-color: #FB88B4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    font-size: xx-large;
    color: #FDE767;
    height: 90%;
    width: 90%;
}
.image-one{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.word{
    font-size: 50px;
    font-family:"Protest Riot", sans-serif; 
    color: #FB88B4;
    
}
button{
    height: 100px;
    width: 200px;
    background-color: #756AB6;
    border-radius: 20%;
    border-color: black 3px solid;
    color: #FDE767;
    transition:2s;
    margin-left: 20%;
   

}
button:hover{
    background-color: #FB88B4;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}


/* media tag */
@media(min-width:400) {
    .main-contaianer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:600px) and (max-width:800px) {
    .main-contaianer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
