/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    max-width: 500px;
    text-align: center;
}

/* Heading */
h1 {
    font-size: 40px;
    font-family: 'Arial Black', sans-serif;
    color: #1a0dab; 
    margin-bottom: 30px;
}

/* Input Box */
.search-input {
    height: 40px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    box-shadow: none;
    text-align: center;
}

.search-input::placeholder {
    color: #80868b;
    text-align: center;
}

/* Search Button */
.search-button {
    height: 40px;
    padding: 0 16px;
    font-size: 16px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.search-button:hover {
    background-color: #0d6efd;
}

/* Display Box */
.display-container {
    height: 50px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-top: 20px;
    color: #70757a;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
}
