.main {
    background-color: #8E7AB5;
    box-shadow: 0px 0px 0px 1px red;
    border: 3px black solid;
    margin-top: 20px;
}




/* for row */
.frist-row {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}


.secound-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr;

}

.third-row {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;


}

.forth-row {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;

}

.fifth-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;


}

.sixth-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr 1fr 1fr 3fr;

}

/* bottom seec */


.inner-one {
    background-color: pink;
}

/* button css */
button {
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10%;
    gap: 10%;
}
/* css for dis class */
.display {

    height: 315px;
    width: 100%;
    background-color: #59B4C3;
    border: 3px black solid;
}
/* css for dis id */

#display {
    height: 200px;
    width: 600px;
    background-color: #EFF396;
    border: 3px black solid;
    text-align: center;
    margin-left: 30%;
}