body{
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    background-color: #FFAF;

}
th ,td ,table {
    border: 5px solid rgba(207, 34, 34, 0.375);
    background-color: #B2B377;
 
}
table{
    height: 500px;
    width: 100vw;
}
