.firstdiv{
color: #FFE4D6;
font-family: 44px;
background-color: #789461; 
padding: 20px;}

.bottom{
background-color: red;
border: 1px black dashed;
}

.cell{
    background-color: yellowgreen;
    color: black;
}
.cellone{
    font-family:Montserrat ;
}