

h1 {
    font-size: 50px;
    
    border-style: dashed;
    border-width: 8px;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-style: solid;
   

}

p {
    text-align: center;

    font-size: 40px;

    background-color: #AF2655;
}

h3 {
    font-size: 35px;

}

li {
    font-size: 35px;
}

h4 {
   
    text-align: right;

}
p{
    border: solid;
}

